.text-skybule{
  color: skyblue;
}
.text-pink{
  color: rgb(255, 192, 203);
}
.google-fonts{
  font-family: "Josefin Sans", sans-serif;
}
body{
  text-align: center;
}
h1{
  font-size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom:solid 3px rgb(115, 115, 114) ;
}
h2,p{
  font-family: "Alial","Meiryo", sans-serif ;
  font-size: 20px;
}
.child p{
  font-weight: bold;
}