#top {
  width: 800px;
  background-color: hsl(267, 66%, 87%);
  padding: 20px 0px;
  margin: 20px auto;
  text-align: center;
}
.top-child {
  display: inline;
  width: 20%;
  background-color: #ffd9df;
  padding: 0px 40px;
}

#middle {
  width: 800px;
  height: 800px;
  margin: 20px auto;
  background-color: #ffd9df;
  position: relative;
}
#middle-child01 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}
#middle-child02 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  margin-top: 300px;
  margin-left: 300px;
}
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  margin-top: 500px;
  margin-left: 500px;
}

#bottom {
  width: 800px;
  height: 300px;
  text-align: center;
  background-color: #87ceeb;
  margin: auto;
}
#bottom-child01 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: relative;
}
#bottom-child02{
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: relative;
  left: 200px;
}
#bottom-child03 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: relative;
  left: 400px;
}